include _docmap.pug

mixin page(name)
  - var info = docmap[name]

  doctype html
  html(lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title= info.pageTitle ? info.pageTitle : info.title
      link(rel="stylesheet", href="css/awsm.min.css", id="theme")
      link(rel="stylesheet", id="preload-theme")
      link(rel="stylesheet", id="prism-theme")

      //- Stuff for social networks
      meta(property="og:title", content= info.pageTitle ? info.pageTitle : 'awsm.css: ' + info.title)
      meta(property="og:description", content= info.description)
      meta(property="og:image", content="https://igoradamenko.github.io/awsm.css/images/cover.png")
      meta(property="og:url", content="https://igoradamenko.github.io/awsm.css/" + (info.url === 'index.html' ? '' : info.url))
      meta(name="twitter:card", content="summary_large_image")

      script.
        if (location.hostname === 'localhost') localStorage.clear();

        var version = '#{locals.libVersion}';
        var storedVersion = localStorage.getItem('awsm-version');

        if (version !== storedVersion) {
          localStorage.removeItem('awsm-current-theme');
          localStorage.setItem('awsm-version', version);
        }

        var currentTheme = localStorage.getItem('awsm-current-theme');
        reloadTheme(currentTheme);

        function reloadTheme(theme) {
          var themeNode = document.getElementById('theme');
          var themePreloadNode = document.getElementById('preload-theme');

          themePreloadNode.onload = onPreloadThemeLoad.bind(null, theme);
          themePreloadNode.setAttribute('href', getThemePath(theme));

          if (window.isPrismThemeShouldBeLoaded) {
            var prismThemeNode = document.getElementById('prism-theme');
            prismThemeNode.setAttribute('href', getPrismThemePath(theme));
          }
        }

        function onPreloadThemeLoad(theme) {
          var themeNode = document.getElementById('theme');
          var themePreloadNode = document.getElementById('preload-theme');
          
          themePreloadNode.onload = null;

          themeNode.remove();
          themePreloadNode.setAttribute('id', 'theme');
          themeNode = themePreloadNode;

          var themePreloadNodeNew = document.createElement('link');
          themePreloadNodeNew.setAttribute('id', 'preload-theme');
          themePreloadNodeNew.setAttribute('rel', 'stylesheet');

          themeNode.insertAdjacentElement('afterend', themePreloadNodeNew);
          localStorage.setItem('awsm-current-theme', theme);
        }

        function getThemePath(theme) {
          if (!theme) return 'css/awsm.min.css';
          return 'css/awsm_theme_' + theme + '.min.css';
        }

        function getPrismThemePath(theme) {
          var themeToPrismTheme = JSON.parse('!{JSON.stringify(locals.themeToPrismTheme)}');
          var prismTheme = themeToPrismTheme[theme];
          return 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism' + (prismTheme ? ('-' + prismTheme) : '') + '.min.css';
        }

    body
      header
        h1 awsm.css
        p
          | It makes your
          = ' '
          abbr(title="HyperText Markup Language is the standard markup language for creating web pages and web applications.") HTML
          = ' '
          | beautiful

        nav
          ul
            - for (var item in docmap)
              - if (item != name)
                li
                  a(href= docmap[item].url, target= docmap[item].blank ? '_blank' : false)= docmap[item].title
              - else
                li= docmap[item].title

            li
              select(id="theme-changer", onchange="reloadTheme(this.value)")
                each option, index in locals.themes
                  option(value= option.title, selected= !index) #{option.title}

              script.
                if (currentTheme && currentTheme !== 'white') {
                  document.getElementById('theme-changer').value = currentTheme;
                }

      main
        article
          if docmap[name].header
            h1= docmap[name].title

          block

      footer
        p Igor Adamenko

      //                                                                                 
      //                      ."-,.__                                                    
      //                      `.     `.  ,                                               
      //                   .--'  .._,'"-' `.                                             
      //                  .    .'         `'                                             
      //                  `.   /          ,'                                             
      //                    `  '--.   ,-"'                                               
      //                     `"`   |  \                                                  
      //                        -. \, |                                                  
      //                         `--Y.'      ___.                                        
      //                              \     L._, \                                       
      //                    _.,        `.   <  <\                _                       
      //                  ,' '           `, `.   | \            ( `                      
      //               ../, `.            `  |    .\`.           \ \_                    
      //              ,' ,..  .           _.,'    ||\l            )  '".                 
      //             , ,'   \           ,'.-.`-._,'  |           .  _._`.                
      //           ,' /      \ \        `' ' `--/   | \          / /   ..\               
      //         .'  /        \ .         |\__ - _ ,'` `        / /     `.`.             
      //         |  '          ..         `-...-"  |  `-'      / /        . `.           
      //         | /           |L__           |    |          / /          `. `.         
      //        , /            .   .          |    |         / /             ` `         
      //       / /          ,. ,`._ `-_       |    |  _   ,-' /               ` \        
      //      / .           \"`_/. `-_ \_,.  ,'    +-' `-'  _,        ..,-.    \`.       
      //     .  '         .-f    ,'   `    '.       \__.---'     _   .'   '     \ \      
      //     ' /          `.'    l     .' /          \..      ,_|/   `.  ,'`     L`      
      //     |'      _.-""` `.    \ _,'  `            \ `.___`.'"`-.  , |   |    | \     
      //     ||    ,'      `. `.   '       _,...._        `  |    `/ '  |   '     .|     
      //     ||  ,'          `. ;.,.---' ,'       `.   `.. `-'  .-' /_ .'    ;_   ||     
      //     || '              V      / /           `   | `   ,'   ,' '.    !  `. ||     
      //     ||/            _,-------7 '              . |  `-'    l         /    `||     
      //     . |          ,' .-   ,' ||               | .-.        `.      .'     ||     
      //      `'        ,'    `".'    |               |    `.        '. -.'       `'     
      //               /      ,'      |               |,'    \-.._,.'/'                  
      //               .     /        .               .       \    .''                   
      //             .`.    |         `.             /         :_,'.'                    
      //               \ `...\   _     ,'-.        .'         /_.-'                      
      //                `-.__ `,  `'   .  _.>----''.  _  __  /                           
      //                     .'        /"'          |  "'   '_                           
      //                    /_|.-'\ ,".             '.'`__'-( \                          
      //                      / ,"'"\,'               `/  `-.|" mh                       
      //                                                                                 
      //                          awsm.css v3.0.0 “Charizard”                            
      //                                                                                 

mixin code-block
  pre
    code
      block

mixin h(id, level, skipAnchor)
  - var tag = level ? 'h' + level : 'h2'

  #{tag}
    if id && !skipAnchor
      a(
        id= id,
        href= "#" + id,
        aria-hidden="true"
      )

    block
