include _mixins.pug

+page("download")
  p
    | Download the latest version here —
    =' '
    a(href="css/awsm.css") awsm.css
    | .

  p
    | Minified —
    = ' '
    a(href="css/awsm.min.css") awsm.min.css
    = ' '
    | (≈3 Kb after gzip).

  p
    | You also can
    = ' '
    a(href="https://github.com/igoradamenko/awsm.css/archive/master.zip") download tarball of the project
    | .

  section
    +h("themes") Themes

    p Here is a list of all available themes:

    ul
      each theme, index in locals.themes
        li
          p
            span(style=`background: linear-gradient(to right, ${theme.colors.primary} 0%, ${theme.colors.primary} 50%, ${theme.colors.secondary} 50%, ${theme.colors.secondary} 100%); display: inline-block; width: .75rem; height: .75rem; border-radius: 50%; border: 1px solid ${theme.colors.stealthy};`)
            = ' '
            | #{theme.title}
            = ' ('
            a(href=`css/awsm_theme_${theme.title}.css`) original
            = ', '
            a(href=`css/awsm_theme_${theme.title}.min.css`) min
            = ')'
            = index + 1 === locals.themes.length ? '.' : ';'

  section
    +h("unpkg") unpkg

    p You can use unpkg for link latest or exact version of the library:

    +code-block &lt;link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css"&gt;

    p All themes are available there too:

    +code-block &lt;link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_#{locals.themes[3].title}.min.css"&gt;

    p
      | Get more information about the unpkg
      = ' '
      abbr(title="A content delivery network or content distribution network is a globally distributed network of proxy servers deployed in multiple data centers.") CDN
      = ' on '
      a(
        href="https://unpkg.com/",
        title="unpkg is a fast, global content delivery network for stuff that is published to npm",
        target="_blank"
      ) unpkg.com
      | .

  section
    +h("postcss") PostCSS API

    p
      | If you install
      = ' '
      a(
        href="https://www.npmjs.com/package/awsm.css",
        title="awsm.css in npm registry",
        target="_blank"
      ) npm package
      | , you can use library as PostCSS plugin:

    -
      var code = 'const postcss = require(\'postcss\');\n' +
      'const awsm = require(\'awsm.css\');\n' +
      '\n' +
      'postcss([awsm({ theme: \'tasman\' })]).process(\'a {color: red}\').then(result => {\n' +
      '  console.log(result.css); // awsm.css prepends your CSS \n' +
      '});'

    +code-block= code

  p
    | You can omit
    = ' '
    code theme
    = ' '
    | key in options argument. In this case default (white) theme will be loaded.


  section
    +h("license") License

    p
      | awsm.css licensed under
      = ' '
      a(href="http://en.wikipedia.org/wiki/MIT_License") the MIT
      | .

    p
      | The MIT License places almost no restrictions on what you can do with this lib.
      | You are free to use it in commercial projects as long as the copyright is left intact.

  section
    +h("credits") Credits

    p
      | Thanks to
      = ' '
      a(
        href="https://www.instagram.com/xnmlsx/",
        title="@xnmlsx in Instagram",
        target="_blank"
      ) Anastasia Medvedeva
      = ' '
      | for photo & video used in examples, and for themes
      = ' '
      a(
        href="https://www.instagram.com/cake4am/",
        title="@cake4am in Instagram",
        target="_blank"
      ) inspiration
      | .
