include _mixins.pug

+page("download")
  p
    | Download the latest version here —
    =' '
    a(href="css/awsm.css") awsm.css
    | .

  p
    | Minified —
    = ' '
    a(href="css/awsm.min.css") awsm.min.css
    = ' '
    | (≈2 Kb after gzip).

  p
    | You also can
    = ' '
    a(href="https://github.com/igoradamenko/awsm.css/archive/master.zip") download tarball of the project
    | .

  section
    +h("unpkg")

    p Also you can use unpkg for link latest or exact version of library:

    +code-block &lt;link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css"&gt;

    p
      | Get more information about the unpkg
      = ' '
      abbr(title="A content delivery network or content distribution network is a globally distributed network of proxy servers deployed in multiple data centers.") CDN
      = ' on '
      a(
        href="https://unpkg.com/",
        title="unpkg is a fast, global content delivery network for stuff that is published to npm",
        target="_blank"
      ) unpkg.com
      | .

  section
    +h("postcss") PostCSS API

    p
      | If you install
      = ' '
      a(
        href="https://www.npmjs.com/package/awsm.css",
        title="awsm.css in npm registry",
        target="_blank"
      ) npm package
      | , you can use library as PostCSS plugin:

    -
      var code = 'const postcss = require(\'postcss\');\n' +
      'const awsm = require(\'awsm.css\');\n' +
      '\n' +
      'postcss([awsm()]).process(\'a {color: red}\').then(result => {\n' +
      '  console.log(result.css); // awsm.css prepends your CSS \n' +
      '});'

    +code-block= code

  section
    +h("license") License

    p
      | awsm.css licensed under
      = ' '
      a(href="http://en.wikipedia.org/wiki/MIT_License") the MIT
      | .

    p
      | The MIT License places almost no restrictions on what you can do with this lib.
      | You are free to use it in commercial projects as long as the copyright is left intact.

  section
    +h("credits") Credits

    p
      | Thanks to
      = ' '
      a(
        href="https://www.instagram.com/xnmlsx/",
        title="@xnmlsx in Instagram",
        target="_blank"
      ) Anastasia Medvedeva
      = ' '
      | for photo & video used in examples.
