include _mixins.pug

+page("download")
  h1 Download

  p
    | Download the latest version here —
    =' '
    a(href="css/awsm.css") awsm.css
    | .

  p
    | Minified —
    = ' '
    a(href="css/awsm.min.css") awsm.min.css
    = ' '
    | (2.1 Kb after gzip).

  p
    | You also can
    = ' '
    a(href="https://github.com/igoradamenko/awsm.css/archive/master.zip") download tarball of the project
    | .

  section#postcss
    h2 PostCSS API

    p
      | If you install
      = ' '
      a(
        href="https://www.npmjs.com/package/awsm.css",
        title="awsm.css in npm registry",
        target="_blank"
      ) npm package
      | , you can use library as PostCSS plugin:

    -
      var code = 'const postcss = require(\'postcss\');\n' +
      'const awsm = require(\'awsm.css\');\n' +
      '\n' +
      'postcss([awsm()]).process(\'a {color: red}\').then(result => {\n' +
      '  console.log(result.css); // awsm.css prepends your CSS \n' +
      '});'

    +code-block= code

  section#license
    h2 License

    p
      | aswm.css licensed under
      = ' '
      a(href="http://en.wikipedia.org/wiki/MIT_License") the MIT
      | .

    p
      | The MIT License places almost no restrictions on what you can do with this lib.
      | You are free to use it in commercial projects as long as the copyright is left intact.

  section#credits
    h2 Credits

    p
      | Thanks to
      = ' '
      a(
        href="https://www.instagram.com/xnmlsx/",
        title="@xnmlsx in Instagram",
        target="_blank"
      ) Anastasia Medvedeva
      = ' '
      | for photo & video used in examples.
